<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/accueil.css"/>
        <link rel="stylesheet" type="text/css" href="/dependencies/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <meta charset="utf-8"/>
        <title>Hypo</title>
    </head>
    <body>
        <div id="global">
            <div id="session-context">
                <label for="module-list">Module: </label>
                <select id="module" onchange="moduleSwitch(this.value)">
                    <% modules.forEach((module) => { %>
                        <option value= <%= module.id %> <%= module.id === selectedModuleId? 'selected' : '' %> >
                            <%= module.name %>
                        </option>
                    <% }) %>
                </select>
                <button id="logout-button" class="fa fa-sign-out" onClick="logout()"></button>
            </div>

            <!--Menu Vertical Gauche-->
            <nav>
                <ul id="menu">
                    <li class="image1" id="pic1"></li>
                    <li class="image1" id="pic2"></li>
                    <li class="image1 sub-menu" id="click_action"></li>  
                        <ul id="subMenu" style="display: none;">
                            <li class="image2" id="pic4"></li>
                            <li class="image2" id="pic5"></li>
                            <li class="image2" id="pic6"></li>
                        </ul>
                    <li class="image1" id="pic7"></li>
                    <li class="image1" id="pic8"></li>
                </ul> 
            </nav>
            <!-- Fin Menu Vertical Gauche-->

            <!-- Début page 'Home'-->
            <div id="page_home" class="page_begins">
                <section id="section2">
                    <div id="sensor_values_table">
                        <div id="top_table">
                            <div class="table_line">
                                <div class="sensor_values">
                                    <label>Valeur température (°C)</label>
                                    <span><%= reading ? reading.temperature : 0 %></span>
                                </div>
                                <!-- <div id="icone_representation1" class="icone_representation"></div> -->
                            </div>
                            <div class="table_line">
                                <div class="sensor_values">
                                    <label>Valeur PH</label>
                                    <span><%= reading ? reading.ph : 0 %></span>
                                </div>
                                <!-- <div id="icone_representation2" class="icone_representation"></div> -->
                            </div>
                            <div class="table_line">
                                <div class="sensor_values">
                                    <label>Niveau de fertilisant</label>
                                    <% var fertRatio = (reading && config) ? (reading.ec/config.ec) * 100 : 0 %>
                                    <% var fertString = 'background-image: linear-gradient(to right, rgb(85, 233, 85)' + fertRatio + '%, #efeeec 0%);' %>
                                    <span id="fertilisant_span" style="<%= fertString %>"></span>
                                </div>
                                <!-- <div id="icone_representation3" class="icone_representation"></div> -->
                            </div>
                            <div id="table_line">
                                <div id="sensor_value">
                                    <label>Eclairage</label>
                                    <% var lightRatio = config ? (new Date('1970-01-01T' + config.light_off + 'Z') - new Date('1970-01-01T' + config.light_on + 'Z'))/8.4e+5 : 0 %>
                                    <% var lightStart = config ? ((new Date('1970-01-01T' + config.light_on + 'Z') - new Date('1970-01-01T00:00:00Z')) / 8.4e+5) : 0 %>
                                    <span id="light-bar" style="background-color: black; justify-content: start;">
                                        <div style="margin-left: <%=lightStart%>%; height: 100%; width: <%=lightRatio%>%; background-color: #efeeec;"></div>
                                    </span>                                    
                                </div>
                                <div id="icone_representation4" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div id="picture_home"></div>
                </section>
            </div>
            <!-- Fin page 'Home' -->

            <!-- Début page 'Settings' -->
            <div id="page_settings" class="page_begins">
                <section id="section1">
                    <div id="choix_utilisateur">
                        <div id="button1_div">
                            <input type="button" value="Importer"/>
                            <input type="button" value="Création"/>
                            <input type="button" value="Sauvegarder"/>
                        </div>
                        <div id="liste_deroulante">
                            <select name="profil" id="profil" onchange="profileSwitch(this.value)">
                            <% configListing.forEach((conf) => { %>
                                <option value= <%= conf.id %> <%= conf.id === config.id ? 'selected' : '' %> >
                                    <%= conf.name %>
                                </option>
                            <% }) %>
                            </select>
                        </div>
                    </div>

                    <label class="label_deroulant" id="temp_action">Température</label>
                    <div class="section1_div" id="temperature">
                        <div class="param_div">
                            <label>Min (°C)</label>
                            <form type="" method=""> 
                                <span class="param_value">
                                    <input id="temperature_min" type="text" name="min_temp" value="<%= config ? config.temperature_min : 0 %>" onchange="saveConfig(this)"/>
                                </span>  
                            </form>
                        </div>
                        <div class="param_div">
                            <label>Max (°C)</label>
                            <form type="" method=""> 
                                <span class="param_value">
                                    <input id="temperature_max" type="text" name="max_temp" value="<%= config ? config.temperature_max : 0 %>" onchange="saveConfig(this)"/>
                                </span>  
                            </form>
                        </div>
                    </div>

                    <label class="label_deroulant" id="ph_action">PH</label>
                    <div class="section1_div" id="ph">
                        <div class="param_div">
                            <label>Min</label>
                            <form type="" method="post"> 
                                <span class="param_value">
                                    <input id="ph_min" type="text" name="min_ph" value="<%= config ? config.ph_min : 0 %>" onchange="saveConfig(this)"/>
                                </span>  
                            </form>
                        </div>
                        <div class="param_div">
                            <label>Max</label>
                            <form type="" method="post"> 
                                <span class="param_value">
                                    <input id="ph_max" type="text" name="max_ph" value="<%= config ? config.ph_max : 0 %>" onchange="saveConfig(this)"/>
                                </span>  
                            </form>
                        </div>
                    </div>

                    <label class="label_deroulant" id="fert_action">Fertilisant</label>
                    <div class="section1_div" id="fertilisant">
                        <div class="param_div">
                            <label>EC (mS/cm)</label>
                        </div>
                        <div id="param_div">
                            <form>
                                <output id="ec_out" class="param_value" id="range_value" name="resultat"><%= config && config.ec ? config.ec.toFixed(1) : '0.0' %></output>
                                <input id="ec" class="range" type="range" name="d" list="tickmarks" min="0" max="10" step="0.1" value="<%= config ? config.ec : 0 %>" oninput="resultat.value=parseFloat(d.value).toFixed(1)" onchange="saveConfig(this)"/>
                            </form>  

                            <datalist id="tickmarks">
                                <option value="0" label="0">
                                <option value="1">
                                <option value="2">
                                <option value="3">
                                <option value="4">
                                <option value="5" label="5">
                                <option value="6">
                                <option value="7">
                                <option value="8">
                                <option value="9">
                                <option value="10" label="10">
                            </datalist>
                        </div>
                    </div>

                    <label id="ecla_action" class="label_deroulant">Eclairage</label>
                    <div id="eclairage" class="section1_div">
                        <div class="param_div" style="display: inline-block">
                            <label>ON</label>
                            <span class="param_value">
                                <input id="light_on" type="text" value="<%= config ? config.light_on : '00:00:00' %>" onchange="saveConfig(this)"/>
                            </span>  
                        </div>
                        <div class="param_div" style="display: inline-block">
                            <label>OFF</label> 
                            <span class="param_value">
                                <input id="light_off" type="text" value="<%= config ? config.light_off : '00:00:00' %>" onchange="saveConfig(this)"/>
                            </span>  
                        </div>
                    </div>

                    <label id="phot_action" class="label_deroulant">Photo</label>
                    <div class="section1_div" id="photo">
                        <div class="param_div">
                            <label>Photos (temps)</label>
                            <form type="" method="post"> 
                                <span class="param_value">
                                    <input id="picture_interval" type="text" name="freq_photo" value="<%= config ? config.picture_interval : '00:00:00' %>" onchange="saveConfig(this)"/>
                                </span>  
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Fin page 'Settings'-->

            <!-- Début page temperature graphics -->
            <div id="page_temp_graph" class="page_begins">
                <section id="section4">
                    <canvas id="temperature_curve" width="800" height="400"></canvas>
                </section>
            </div>
            <!-- Fin page temperature graphics -->

            <!-- Début page ph graphics -->
            <div id="page_ph_graph" class="page_begins">
                <section id="section5">
                    <canvas id="ph_curve" width="800" height="400"></canvas>
                </section>
            </div>
            <!-- Fin page ph graphics -->

            <!-- Début page fertilisant graphics -->
            <div id="page_fert_graph" class="page_begins">
                <section id="section6">
                    <canvas id="fertilisant_curve" width="800" height="400"></canvas>
                </section>
            </div>
            <!-- Fin page fertilisant graphics -->

            <!-- Début page 'Pictures' -->
            <div id="page_picture" class="page_begins">
                <section id="section7">
                    <div class="section1_div" id="photo">
                        <div id="photo_split">
                            <div id="left_block">
                                <div class="left_pics">
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                </div>
                                <div class="left_pics">
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                </div>
                                <div class="left_pic">
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                </div>
                                <div class="left_pic">
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                    <img class="plant_picture" src="/images/NO_ID.png"/>
                                </div>
                            </div>                            
                            <div id="right_pic">
                                <img class="plant_picture" src="/images/NO_ID_BIG.png"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>  
            <!-- Fin page 'Pictures' -->

            <!-- Début page Forum -->
            <div id="page_forum" class="page_begins">
                <section id="section8">
                    <div class="WIP">Work In Progress</div>
                </section>
            </div>
            <!-- Fin page Forum -->

            <footer>

            </footer>
        </div>

        <script src="/dependencies/jquery-3.2.1.min.js"></script>
        <script src="/dependencies/Chart.min.js"></script>
        
<!-- script pour mettre à jour la valeur actuelle de l'input range dans un output-->
        <script>
            $(function() {
                $('#fert_range').next().text('--'); // Valeur par défaut
                $('#fert_range').on('input', function() {
                    var $set = $(this).val();
                    $(this).next().text($set);
                });
            });
        </script>
        
<!-- script pour cacher/afficher le sous menu de l'icone n°3 -->
        <script type="text/javascript">
            jQuery(document).ready(function($){
                $("#subMenu").hide();
                $("#click_action").on("click", function(){
                    $("#subMenu").toggle("fast");
                });
            });
        </script>
        
<!-- script pour cacher/afficher les informations de la page "settings" -->
        <script type="text/javascript">
            jQuery(document).ready(function($){
                $("#temperature").hide()
                $("#ph").hide()
                $("#fertilisant").hide()
                $("#eclairage").hide()
                $("#photo").hide()

                $("#temp_action").on("click", function(){
                    $("#temperature").slideToggle("fast")
                })
                $("#ph_action").on("click", function(){
                    $("#ph").slideToggle("fast")
                })
                $("#fert_action").on("click", function(){
                    $("#fertilisant").slideToggle("fast")
                })
                $("#ecla_action").on("click", function(){
                    $("#eclairage").slideToggle("fast")
                })
                $("#phot_action").on("click", function(){
                    $("#photo").slideToggle("fast")
                })
            })
        </script>
        
<!-- script pour cacher/afficher les différentes pages (à améliorer mais utile pour voir ce que ça donne) -->
        <script type="text/javascript">
            jQuery(document).ready(function($){
                $(".page_begins").hide()
                $("#page_home").show()
                
                $("#pic1").on("click", function(){
                    $(".page_begins").hide()
                    $("#page_home").show(0)
                })
                $("#pic2").on("click", function(){
                    $(".page_begins").hide()
                    $("#page_settings").show(0)
                }) 
                $("#pic4").on("click", function(){
                    $(".page_begins").hide()
                    $("#page_temp_graph").show(0)
                })
                $("#pic5").on("click", function(){
                    $(".page_begins").hide()
                    $("#page_ph_graph").show(0)
                })
                $("#pic6").on("click", function(){
                    $(".page_begins").hide()
                    $("#page_fert_graph").show(0)
                })
                $("#pic7").on("click", function(){
                    $(".page_begins").hide()
                    $("#page_picture").show(0)
                })
                $("#pic8").on("click", function(){
                    $(".page_begins").hide()
                    $("#page_forum").show(0)
                }) 
            })
        </script>

<!-- -->
        <script>
            document.getElementById("image1").onclick = function(){
                var id = this.getAttribute('id')
                document.getElementById('range_value').innerHTML = id
            } 
        </script>

<!-- Function initialisant les fonctionnalité de pase au démarrage -->
        <script>
            jQuery(document).ready(function($){

                window.initialize()
                var elmt;    
                $(".image1").on("click", function() {
                    window.menuSwitch(this)   
                })
                $(".image2").on("click", function() {
                    window.menuSwitch(this)   
                })
                   
            });
        </script>

<!-- -->
        <script>
            (function(ns) {
                var lastSelectedMenu

                // Tout ce qui doit être exécuter à l'affichage
                function initialize() {
                    $('#pic1').addClass('selected')
                    lastSelectedMenu = $('#pic1')[0]
                    
                    var date = new Date()
                    var timeRatio = 100 * (date.getHours() * 60 + date.getMinutes()) / (24*60)
                    $('#icone_representation4').css('margin-left', (timeRatio - 11) + '%')
                    $('#icone_representation4').show()

                    $('#pic4').on('click', _displayTempValue)
                    $('#pic5').on('click', _displayPhValue)
                    $('#pic6').on('click', _displayFertValue)
                }

                function menuSwitch(selectedElem) {
                    $(lastSelectedMenu).removeClass('selected')
                    if (!($(selectedElem).hasClass('sub-menu'))) {
                        $(selectedElem).addClass('selected')
                    }
                    
                    lastSelectedMenu = selectedElem
                }

                function moduleSwitch(moduleId) {
                    $.ajax({
                        type: 'PUT',
                        url: '/module/switch/' + moduleId,
                        success: () => {
                            window.location.href = '/'
                        }
                    })
                }

                function profileSwitch(profileId) {
                    var moduleId = $('#module').val()
                    $.ajax({
                        type: 'PUT',
                        url: '/module/' + moduleId + '/switchprofile/' + profileId,
                        success: _updateConfig
                    })
                }

                function logout() {
                    $.ajax({
                        type: 'POST',
                        url: '/logout',
                        success: () => {
                            window.location.href = '/'
                        }
                    })
                }

                function _updateConfig(config) {
                    config.ec_out = config.ec
                    for (var field in config) {
                        $('#'+field).val(config[field])
                    }
                }

                function saveConfig(elem) {
                    var profileId = $('#profil').val()
                    var field = $(elem).attr('id')
                    var value = $(elem).val()

                    $.ajax({
                        type: 'PUT',
                        url: '/profile/' + profileId + '/update',
                        data: {
                            field: field,
                            value: value,
                        },
                        success: () => { console.log('success saving ' + field + ' to ' + value) },
                        error: (err) => { console.log(err) }
                    })
                }

                function _displayTempValue(){
                    var moduleId = $('#module').val()

                    $.ajax({
                        type: 'GET',
                        url: '/module/' + moduleId + '/temperature',
                        
                        success: (data) => { 
                            var timestamp = data.map(function(x){
                                return x.timestamp
                            })
                            var temp = data.map(function(x){
                                return x.temperature
                            })

                            _createCharts('Courbe de la température', 'Durée (en h)', 'Température (en °C)', '#FF0000', 'temperature_curve', temp, timestamp, 0, 50)
                         }
                    })
                }

                function _displayPhValue(){
                    var moduleId = $('#module').val()

                    $.ajax({
                        type: 'GET',
                        url: '/module/' + moduleId + '/ph',
                        
                        success: (data) => { 
                            var timestamp = data.map(function(x){
                                return x.timestamp
                            })
                            var ph = data.map(function(x){
                                return x.ph
                            })

                            _createCharts('Courbe du PH', 'Durée (en h)', 'PH', '#FF0000', 'ph_curve', ph, timestamp, 0, 14)
                         }
                    })
                }

                function _displayFertValue(){
                    var moduleId = $('#module').val()

                    $.ajax({
                        type: 'GET',
                        url: '/module/' + moduleId + '/fertilisant',
                        
                        success: (data) => { 
                            var timestamp = data.map(function(x){
                                return x.timestamp
                            })
                            var fert = data.map(function(x){
                                return x.fertilisant
                            })

                            _createCharts('Courbe du Fertilisant', 'Durée (en h)', 'Fertilisant', '#00FF00', 'fertilisant_curve', fert, timestamp, 0, 100)
                         }
                    })
                }

                function _createCharts(title, xLabel, yLabel, color, elmtId, data, timestamp, yMin, yMax){
                    new Chart(document.getElementById(elmtId), {
                        type: 'line',
                        data: {
                            labels: timestamp,
                            datasets: [{
                                data: data,
                                label: yLabel,
                                borderColor: color,
                                lineTension: 0,
                                fill: false
                            }]
                        },
                        options: {
                            title: {
                            display: true,
                            text: title
                            },
                            scales: {
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: xLabel
                                    }
                                }],
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: yLabel
                                    },
                                    ticks: {
                                        min: yMin,
                                        max: yMax
                                    }
                                }]
                            }
                        }
                    });
                }

                ns.logout = logout
                ns.menuSwitch = menuSwitch
                ns.moduleSwitch = moduleSwitch
                ns.initialize = initialize
                ns.profileSwitch = profileSwitch
                ns.saveConfig = saveConfig
            }(window))
        </script>
    </body>    
</html>